<div class="row page-featured-posts-grid-wrapper page-featured-posts-full-width">
  <div class="page-featured-posts-grid-container col s12 m12 l6">
    <article class="">
      <img width="640" height="427" ng-src="{{main.showcasePosts.mainPost.image}}" class="" alt="e{{main.showcasePosts.mainPost.alt}}">
      <header>
        <a href="{{main.showcasePosts.mainPost.id}}" class="page-featured-posts-grid-link-wrapper waves-effect">
          <div class="page-featured-posts-grid-title-wrapper center-align">
            <h2 class="page-featured-posts-grid-title">
              {{main.showcasePosts.mainPost.caption}}
            </h2>
          </div>
        </a>
      </header>
    </article>
  </div>
  <div class="page-featured-posts-grid-right-wrapper col s12 m12 l6">
    <div ng-repeat="post in main.showcasePosts.subPosts" class="page-featured-posts-grid-container  col s12 m6 l6">
      <article class="">
        <img width="640" 
             height="427" 
             ng-src="{{post.image}}" 
             class="" 
             alt="{{post.alt}}">
        <header>
          <a ng-href="{{post.id}}" 
             class="page-featured-posts-grid-link-wrapper waves-effect">
            <div class="page-featured-posts-grid-title-wrapper center-align">
              <h2 class="page-featured-posts-grid-title">
                {{post.caption}}
              </h2>
            </div>
          </a>
        </header>
      </article>
    </div>
  </div>
</div>


<div class="row">
  <div ng-repeat="post in main.showcasePosts.subPosts" class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img ng-src="{{post.image}}" >
        <span class="card-title">
          {{post.caption}}
        </span>
      </div>
      <div class="card-content">
        <p>{{post.caption}}</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>