<!-- public/views/userView.html -->
<!--
<div class="row">
<div class="col s12">
<ul class="tabs" tabs>
<li class="tab col s3"><a  class="active" href="#users">Users</a></li>
<li class="tab col s3"><a href="#test2">Test 2</a></li>
<li class="tab col s3"><a href="#test3">Test 3</a></li>
<li class="tab col s3"><a href="#test4">Test 4</a></li>
</ul>
</div>
<div id="users" class="col s12">
-->
<div class="section">
  <div class="row">
    <div class="col offset-l1 l10 s12">
      <div class="card-panel">
        <h5 ng-show="profile.authenticated">Welcome, {{profile.currentUser.name}}</h5>
        <h3>Users</h3>
        <div class="buttons" style="margin-bottom: 10px">
          <button class="btn btn-primary" ng-click="profile.user.getUsers()">Get Users!</button>
          <button class="btn btn-danger" ng-click="profile.user.logout()">Logout</button>
        </div>
        <div class="alert alert-danger" ng-if="profile.user.error">
          <strong>There was an error: </strong> {{profile.user.error.error}}
          <br>Please go back and login again
        </div>
      </div>
      <ul class="collapsible" ng-if="profile.user.users" data-collapsible="accordion" watch>
        <li ng-repeat="user in profile.user.users">
          <div class="collapsible-header collection-item">
            <i class="material-icons">person_pin</i> {{profile.user.name}}
          </div>
          <div class="collapsible-body">
            <p>
              <span class="blue-text">Email: </span>
              {{profile.user.email}}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <form method="post" ng-submit="profile.updateProfile()">
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{profile.user.picture || 'http://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Display Name</label>
          <input type="text" class="form-control" ng-model="profile.user.displayName" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="profile.user.email" />
        </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Accounts</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Linked Accounts</legend>
      <div class="btn-group-vertical">
        <button class="btn btn-sm btn-danger" ng-if="profile.user.facebook" ng-click="profile.unlink('facebook')">
          <i class="ion-social-facebook"></i> Unlink Facebook Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!profile.user.facebook" ng-click="profile.link('facebook')">
          <i class="ion-social-facebook"></i> Link Facebook Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="profile.user.google" ng-click="profile.unlink('google')">
          <i class="ion-social-googleplus"></i> Unlink Google Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!profile.user.google" ng-click="profile.link('google')">
          <i class="ion-social-googleplus"></i> Link Google Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="profile.user.linkedin" ng-click="profile.unlink('linkedin')">
          <i class="ion-social-linkedin"></i> Unlink LinkedIn Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!profile.user.linkedin" ng-click="profile.link('linkedin')">
          <i class="ion-social-linkedin"></i> Link LinkedIn Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="profile.user.twitter" ng-click="profile.unlink('twitter')">
          <i class="ion-social-twitter"></i> Unlink Twitter Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!profile.user.twitter" ng-click="profile.link('twitter')">
          <i class="ion-social-twitter"></i> Link Twitter Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="profile.user.github" ng-click="profile.unlink('github')">
          <i class="ion-social-github"></i> Unlink GitHub Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!profile.user.github" ng-click="profile.link('github')">
          <i class="ion-social-github"></i> Link GitHub Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="profile.user.foursquare" ng-click="profile.unlink('foursquare')">
          <i class="ion-social-foursquare"></i> Unlink Foursquare Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!profile.user.foursquare" ng-click="profile.link('foursquare')">
          <i class="ion-social-foursquare"></i> Link Foursquare Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="profile.user.yahoo" ng-click="profile.unlink('yahoo')">
          <i class="ion-social-yahoo"></i> Unlink Yahoo Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!profile.user.yahoo" ng-click="profile.link('yahoo')">
          <i class="ion-social-yahoo"></i> Link Yahoo Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="profile.user.live" ng-click="profile.unlink('live')">
          <i class="ion-social-windows"></i> Unlink Windows Live Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!profile.user.live" ng-click="profile.link('live')">
          <i class="ion-social-windows"></i> Link Windows Live Account
        </button>
      </div>
    </div>
  </div>
</div>

