<div class="section">
  <div class="row">
    <div class="offset-s2 col s2 center-align">
      Search
    </div>
    <div class="col s2 center-align">
      Plan A Message
    </div>
    <div class="col s2 center-align">
      Make Contact
    </div>
    <div class="col s2 center-align">
      Re-use Your Message
    </div>
    <div class="offset-s2 col s8">
      <div class="progress">
        <div class="determinate" ng-style="about.progress">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col offset-l1 l10 s12">
      <div class="card-panel">
        <h4 class="grey-text darken-2 light">Give It Try</h4>
        <div class="row">
          <form name="exampleSearchForm">
            <input-field class="col s4">
              <i class="material-icons prefix">search</i>
              <input name="searchTerm" required ng-minlength="1" ng-maxlength="120" ng-model="about.searchTerm" type="text" class="validate">
              <label for="icon_prefix"></label>
            </input-field>
            <div class="col s2">
              <button ng-disabled="exampleSearchForm.$invalid || exampleSearchForm.$pending" ng-click="[about.step1(), about.twitter.nextPage()]" class="btn-large blue waves-effect waves-light">
                <span>Go!</span>
              </button>
            </div>
          </form>
          <input-field class="col s6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea required ng-minlength="1" ng-maxlength="120" length="120" id="exampleTweet" ng-model="about.exampleTweet" ng-change="about.step2()" type="text" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Message</label>
          </input-field>
        </div>
      </div>

      <div class="card-panel">
        <div class="row">
          <div class="col s12">
            <ul ng-show="about.twitter.tweets.length" class="collection">
              <li ng-repeat="tweet in about.twitter.tweets track by $index" class="collection-item avatar" ng-class="tweet.classes">
                <img ng-src="{{tweet.user.profile_image_url}}" alt="" class="circle">
                <span class="blue-text text-darken-2 title">{{tweet.user.name}} <small>@{{tweet.user.screen_name}}</small></span>
                <p>
                  {{tweet.text}}
                </p>
                <div class="secondary-content">
                  <a href="" class="btn waves-effect waves-light pink">
                    <i class="material-icons">info</i>
                  </a>
                  <button ng-disabled="tweet.disabled" class="waves-effect waves-light btn" ng-click="about.step3(tweet)">
                    <i class="material-icons">send</i>
                  </button>
                </div>
              </li>
            </ul>
            <!-- Accordion cards, problem that secondary-content isn't reliable in the headers -->
            <!-- could go for user info + send button + outreach count in accordion body -->
            <!--
        <ul ng-show="about.twitter.tweets.length" 
            class="collapsible popout" 
            data-collapsible="accordion" 
            watch>
          <li ng-repeat="tweet in about.twitter.tweets track by $index">
            <div class="collapsible-header waves-effect waves-purple">
              {{tweet.text}}
              <a href="" class="secondary-content btn waves-effect waves-teal">
                <i class="material-icons">send</i>
              </a>
            </div>
            <div class="collapsible-body">
              <p>@{{tweet.user.screen_name}}</p>
              <p>{{tweet.user.name}}</p>
              <a href="" class="btn waves-effect waves-teal">
                <i class="material-icons">send</i>
              </a>
            </div>
          </li>
        </ul>
        -->
            <div ng-hide="about.twitter.tweets.length" class="no-results">
              <p>Nothing to show..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>