<div id="index-banner" class="parallax-container paralax-container-main">
  <div class="section no-pad-bot">
    <div class="container">
    </div>
  </div>
</div>
<div class="section no-pad-bot" style="margin-top: -5%;">
  <div class="row">
    <div class="col offset-l1 l10 s12 white z-depth-1">
      <article id="post-5" class="valign-wrapper post-5 page type-page status-publish hentry">
        <div class="col l2 m4 s6 ">
          <img src="images/flat_apple_mac.png" class="valign responsive-img">
        </div>
        <div class="entry-content">
          <div class="col l10 m8 s12">
            <span class="blue-text">
              <h4 class="grey-text darken-2 light">
                Application Name
              </h4>
              <h5 class="grey-text darken-2 light">Product Name</h5>
              <p>
                <a class="waves-effect waves-light  btn-large light-green darken-1" href="">
                  <i class="mdi-av-play-shopping-bag left"></i>
                  Start Tweading
                </a>
                &nbsp;
                <a class="waves-effect waves-light  btn-large teal" href="">
                  <i class="mdi-action-credit-card left"></i>
                  Buy Pro £XX.XX*
                </a>
                <br>
                <span style="font-size:0.5em;">
                  *Plus tax where applicable
                </span>
            </p>
            <p class="grey-text darken-3">
              Craft beer Bushwick semiotics, four dollar toast Intelligentsia sriracha Carles pug. Selfies fap vinyl, gastropub XOXO Carles organic direct trade Schlitz slow-carb PBR beard.
            </p>
            <p class="grey-text darken-3">
              Thundercats cornhole narwhal next level try-hard. Scenester food truck shabby chic, pickled sartorial Thundercats 3 wolf moon flexitarian heirloom.
            </p>
            <p>
              <a class="waves-effect waves-light  btn-large light-blue darken-3" href="">
                <i class="mdi-image-photo-camera left"></i> Screenshots
              </a>
            </p>
            </span>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="section">
  <div class="row">
    <div class="col offset-l1 l10 s12">
      <div class="card-panel">
        <h4 class="grey-text darken-2 light">Application Tabs</h4>
        <ul class="tabs" tabs>
          <li class="tab col s3"><a class="active" href="#test1">Connect</a>
          </li>
          <li class="tab col s3"><a  href="#test2">Website</a>
          </li>
          <li class="tab col s3"><a href="#test3">Mobile</a>
          </li>
          <li class="tab col s3"><a href="#test4">Control</a>
          </li>
        </ul>
        <div id="test1">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">group_add</i></h2>
            <h5 class="blue-text center">Connect</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have main Materialize.</p>
          </div>
        </div>
        <div id="test2">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">web</i></h2>
            <h5 class="blue-text center">Website</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>
        <div id="test3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">stay_current_portrait</i></h2>
            <h5 class="blue-text center">Mobile</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>
        <div id="test4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">settings</i></h2>
            <h5 class="blue-text center">Control</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have main Materialize.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="row">
    <div class="offset-s2 col s2 center-align">
      Search
    </div>
    <div class="col s2 center-align">
      Plan A Message
    </div>
    <div class="col s2 center-align">
      Make Contact
    </div>
    <div class="col s2 center-align">
      Re-use Your Message
    </div>
    <div class="offset-s2 col s8">
      <div class="progress">
        <div class="determinate" ng-style="main.progress">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col offset-l1 l10 s12">
      <div class="card-panel">
        <h4 class="grey-text darken-2 light">Give It Try</h4>
        <div class="row">
          <form name="exampleSearchForm">
            <input-field class="col s4">
              <i class="material-icons prefix">search</i>
              <input name="searchTerm" required ng-minlength="1" ng-maxlength="120" ng-model="main.searchTerm" type="text" class="validate">
              <label for="icon_prefix"></label>
            </input-field>
            <div class="col s2">
              <button ng-disabled="exampleSearchForm.$invalid || exampleSearchForm.$pending" ng-click="[main.step1(), main.twitter.nextPage()]" class="btn-large blue waves-effect waves-light">
                <span>Go!</span>
              </button>
            </div>
          </form>
          <input-field class="col s6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea required ng-minlength="1" ng-maxlength="120" length="120" id="exampleTweet" ng-model="main.exampleTweet" ng-change="main.step2()" type="text" placeholder="Hey I'm Lewis from Tweads.com, Can I have a chat with you about how you currently market?" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Message</label>
          </input-field>
        </div>
      </div>
      <div class="card-panel">
        <div class="row">
          <div class="col s12">
            <ul ng-show="main.twitter.tweets.length" class="collection">
              <li ng-repeat="tweet in main.twitter.tweets track by $index" class="collection-item avatar" ng-class="tweet.classes">
                <img ng-src="{{tweet.user.profile_image_url}}" alt="" class="circle">
                <span class="blue-text text-darken-2 title">
                  {{tweet.user.name}} 
                  <small>@{{tweet.user.screen_name}}</small>
                </span>
                <p>
                  {{tweet.text}}
                </p>
                <div class="secondary-content">
                  <button ng-click="main.moreInfo(tweet)" class="btn waves-effect waves-light pink">
                    <i class="material-icons">info</i>
                  </button>
                  <button ng-disabled="tweet.disabled" class="waves-effect waves-light btn" ng-click="main.step3(tweet)">
                    <i class="material-icons">send</i>
                  </button>
                </div>
              </li>
            </ul>
            <!-- Accordion cards, problem that secondary-content isn't reliable in the headers -->
            <!-- could go for user info + send button + outreach count in accordion body -->
            <!--
        <ul ng-show="main.twitter.tweets.length" 
            class="collapsible popout" 
            data-collapsible="accordion" 
            watch>
          <li ng-repeat="tweet in main.twitter.tweets track by $index">
            <div class="collapsible-header waves-effect waves-purple">
              {{tweet.text}}
              <a href="" class="secondary-content btn waves-effect waves-teal">
                <i class="material-icons">send</i>
              </a>
            </div>
            <div class="collapsible-body">
              <p>@{{tweet.user.screen_name}}</p>
              <p>{{tweet.user.name}}</p>
              <a href="" class="btn waves-effect waves-teal">
                <i class="material-icons">send</i>
              </a>
            </div>
          </li>
        </ul>
        -->
            <div ng-hide="main.twitter.tweets.length" class="no-results">
              <p>Nothing to show..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
