<!-- public/views/userView.html -->
<!--
<div class="row">
  <div class="col s12">
    <ul class="tabs" tabs>
      <li class="tab col s3"><a  class="active" href="#users">Users</a></li>
      <li class="tab col s3"><a href="#test2">Test 2</a></li>
      <li class="tab col s3"><a href="#test3">Test 3</a></li>
      <li class="tab col s3"><a href="#test4">Test 4</a></li>
    </ul>
  </div>
  <div id="users" class="col s12">
    -->
<div class="section">
  <div class="row">
    <div class="col offset-l1 l10 s12">
      <div class="card-panel">
        <h5 ng-show="authenticated">Welcome, {{currentUser.name}}</h5>
        <h3>Users</h3>
        <div class="buttons" style="margin-bottom: 10px">
          <button class="btn btn-primary" ng-click="user.getUsers()">Get Users!</button>
          <button class="btn btn-danger" ng-click="user.logout()">Logout</button>
        </div>
        <div class="alert alert-danger" ng-if="user.error">
          <strong>There was an error: </strong> {{user.error.error}}
          <br>Please go back and login again
        </div>
      </div>
      <ul class="collapsible" ng-if="user.users" data-collapsible="accordion" watch>
        <li ng-repeat="user in user.users">
          <div class="collapsible-header collection-item">
            <i class="material-icons">person_pin</i> {{user.name}}
          </div>
          <div class="collapsible-body">
            <p>
              <span class="blue-text">Email: </span>
              {{user.email}}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--
  </div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
</div>
-->